@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    background-color: #ddd;
    color: rgba(0, 0, 0, 1);
}

div#interface{
    width: 1000px;
    padding: 10px;
    margin: -20px auto 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header#cabeçalho{
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}

header#cabeçalho h1{
    padding: 0px;
    margin-bottom: 0px;
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

header#cabeçalho h2{
    padding: 0px;
    margin-top: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888;
}

header#cabeçalho img#icone{
    position: absolute;
    top: 70px;
    left: 1290px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

/*Formatação de imagens com legendas*/

figure.fotoLegenda{
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
}

figure.fotoLegenda img{
    width: 100%;
    height: 100%;
}

figure.fotoLegenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;   
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* serve para fazer o padding e a borda contarem dentro da largura e altura do elemento*/
    transition: opacity 1s;
}

figure.fotoLegenda figcaption:hover{
    opacity: 1;
}

/* Formatação do menu*/

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -18px;
    left: 750px;
}

nav#menu li{
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
    cursor: pointer;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
}

/*Formatação do conteúdo*/

div#conteudo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section#corpo{
    width: 570px;
    padding-right: 15px;
    border-right: 1px solid #606060;
}

table#espec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#espec td{
    padding: 10px;
    border-left: none!important;
    color: white;
}

table#espec td.coluna1{
    text-align: right;
    background-color: #606060;
    border: 1px solid #888;
}

table#espec td.coluna2{
    text-align: left;
    background-color: #888;
    border: 1px solid #606060;
}

aside#lateral{
    width: 350px;
}

footer#rodape{
    border-top: 1px solid #606060;
}

footer#rodape p{
    margin-bottom: 0px;
    text-align: center;
}

footer#rodape a{
    text-decoration: none;
    color: black;
}